@import 'variables';
@import 'mixins';
@import 'functions';

$min-font-size: $fntSizeMin;
$max-font-size: $fntSizeLabel;
$originalStateBorder: $black;

.button {
  @include fluid-font($min-vw, $max-vw, $min-font-size, $max-font-size);
  display: flex;
  justify-content: center;
  min-width: 100%;
  min-height: 100%;
  padding: spacing(double);
  border: $originalStateBorder;
  color: $text;
  font-family: $fnt-labels;
  letter-spacing: 1px;
  text-transform: uppercase;
  //   background: linear-gradient(135deg, $whiteTransparent 50%, transparent 50%);
  // background-size: 300% 100%;
  // background-position: right bottom;
  // transition: all 0.35s ease-in;
  outline: none;
}

.button:hover {
  //   border: $borderThinLight;
}

.button.active {
  //   background: $greenTransparent;
}

.button.loading {
  background-position: left bottom;
}

.button.disabled {
  cursor: not-allowed;
  //   background: $whiteTransparent;
}

.button.disabled:hover {
  border: $originalStateBorder;
}

// TODO: check Ripple effect
// button {
//   position: relative;
//   overflow: hidden;
// }

// button::after {
//   content: '';
//   position: absolute;
//   top: 50%;
//   left: 51%;
//   width: 5px;
//   height: 5px;
//   background-attachment: $whiteTransparent;
//   opacity: 0;
//   background-repeat: $rounded;
//   transform: scale(1, 1) translate(-50%);
//   transform-origin: 50% 51%;
// }

// @keyframes ripple {
//   0% {
//     transform: scale(0, 0);
//     opacity: 1;
//   }
//   20% {
//     transform: scale(25, 25);
//     opacity: 1;
//   }
//   100% {
//     opacity: 0;
//     transform: scale(40, 40);
//   }
// }

// button:focus:not(:active)::after {
//   animation: ripple 1s ease-out;
// }
