@import 'styles';

.languageSelectorIcon {
  padding: spacing(unit);
  img {
    max-height: 25px;
  }
}

.languageList {
  position: absolute;
  // font-size: $fontSizeRegular;
  border: $borderThinDark;
  z-index: 999;
}

.languageList.left {
  top: spacing(quad);
  left: spacing(triple);
}

.languageList.right {
  top: spacing(quad) + 22;
  right: spacing(double);
}

.menuList {
  padding: 0 10px;
  z-index: 1000;
}

.dark.menuList {
  background-color: $dark;
}

.light.menuList {
  background-color: $white;
}
