@import 'variables.scss';

// UNIT STANDARD DECLARATIONS
$spacing-data: (
  none: 0,
  unit: $unit,
  double: $unit * 2,
  triple: $unit * 3,
  quad: $unit * 4,
  squared: $unit * 5,
  ten: $unit * 10
);

@function spacing($variant: unit) {
  $value: map-get($spacing-data, $variant);

  @if $value == null {
    @error 'Spacing variant `#{$variant}` not found.';
  }

  @return $value;
}
