@mixin shadow() {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.4s ease-in-out;
}

@mixin shadow-hoverD() {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  box-shadow: 0 5px 10px 0 rgba(255, 255, 255, 0.8);
  transition: 1s;
}

@mixin shadow-hoverL() {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.8);
  transition: 1s;
}

@mixin themeL-transition() {
  -webkit-transition: background-color 0.5s ease-in;
  transition: background-color 0.5s ease-in;
}

@mixin themeD-transition() {
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

@mixin transition($what: all, $time: 0.2s, $how: ease-in-out) {
  -webkit-transition: $what $time $how;
  -moz-transition: $what $time $how;
  -ms-transition: $what $time $how;
  -o-transition: $what $time $how;
  transition: $what $time $how;
}

// Responsive font
@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin fluid-font($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min-font-size;
      @media screen and (min-width: $min-vw) {
        font-size: calc(
          #{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} *
            ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)})
        );
      }
      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}
