// == COLORS
$dark: #030915;
$light: #f7f7f7;
// $red: #ee4035;
$white: #f7f7f7;
$black: #333333;
$grey: #f2f2f2;
$red: #ff1744;
$blue: #29b6f6;
$green: #00c853;
$accent: #ff4081;
$text: $black;
$text-inverted: $white;
$opacityLight: 30%;

// == TYPOGRAPHY
$fnt-main: 'Manrope', sans-serif;
$fnt-labels: 'Manrope', sans-serif;
$fnt-code: 'Source Code Pro', monospace;
$fnt-contextTagline: $fnt-code;
$fnt-main-lt: 300;
$fnt-main-md: 500;
$fnt-main-hv: 900;
$fnt-labels-hv: 900;
$fntSizeMin: 12px;
$fntSizeSmall: 14px;
$fntSizeReg: 18px;
$fntSizeLabel: 36px;
$fntSizeDisplay: 144px;

// == DIMENSIONS
$grid-gap: 3px;
$navbar-height: 80px;
$footer-height: 400px;

// SIZES
$unit: 5px;
$min-vw: 300px;
$max-vw: 1920px;

// == SHAPES and RADII
$square: 0px;
$rounded: 2px;
$circle: 50%;

// == SHADOWS
$shadowTextDark: 1px 1px 1px $black;
$modalShadow: 5px 5px 35px rgba(0, 0, 0, 0.8);

//  == BORDERS
$borderThinDark: 1px solid $grey;
$borderThinLight: 1px solid $white;
$borderThickDark: 2px solid $black;
$borderThickLight: 2px solid $white;
$test-border1: 1px solid $red;
$test-border2: 1px solid $blue;
$test-border3: 1px solid $green;
