// @import url('https://fonts.googleapis.com/css?family=Montserrat:300,
//   400,500|Raleway:400,800|Source+Code+Pro');

// == COLORS
$main: #030915;
$red: #ee4035;
$white: #f7f7f7;
$black: #333333;
$blue: #7ca8b1;
$green: #00c853;
$accent: #ff4081;
$grey: #f2f2f2;
$text: $black;
$text-inverted: $white;
$opacityLight: 30%;

// == TYPOGRAPHY
$fnt-main: 'Montserrat', sans-serif;
$fnt-labels: 'Raleway', sans-serif;
$fnt-contextTagline: 'Source Code Pro', sans-serif;
$fnt-main-lt: 300;
$fnt-main-md: 500;
$fnt-main-hv: 900;
$fnt-labels-hv: 900;
$fntSizeMin: 12px;
$fntSizeSmall: 14px;
$fntSizeReg: 18px;
$fntSizeLabel: 22px;
$fntSizeDisplay: 96px;

// == DIMENSIONS
$grid-gap: 3px;
$navbar-height: 80px;
$footer-height: 400px;

// SIZES
$unit: 5px;
$min-vw: 300px;
$max-vw: 1920px;

// == SHAPES and RADII
$square: 0px;
$rounded: 3px;
$circle: 50%;

// == SHADOWS
$shadowTextDark: 1px 1px 1px $black;

//  == BORDERS
$borderThinDark: 1px solid $black;
$borderThinLight: 1px solid $white;
$borderThickDark: 2px solid $black;
$borderThickLight: 2px solid $white;
$test-border1: 1px solid $red;
$test-border2: 1px solid $blue;
$test-border3: 1px solid $green;
