@import url(https://fonts.googleapis.com/css?family=Montserrat:300,400,500|Raleway:400,800);

// == COLORS
$main: #1b1f29;
$red: #ee4035;
$white: #f7f7f7;
$black: #333333;
$blue: #7ca8b1;
$green: #00c853;
$accent: #ff4081;
$grey: #f2f2f2;
$text: $black;
$text-inverted: $white;

// == TYPOGRAPHY
$fnt-main: 'Montserrat', sans-serif;
$fnt-labels: 'Raleway', sans-serif;
$fnt-main-lt: 300;
$fnt-main-md: 500;
$fnt-main-hv: 900;
$fnt-labels-hv: 900;

// == DIMENSIONS
$grid-gap: 3px;

// SIZES
$unit: 4px;
$fontSizeSmall: 12px;
$fontSizeRegular: 16px;
$fontSizeLarge: 20px;
$fontSizeBig: 32px;
$fontSizeHuge: 56px;

// == SHAPES and RADII
$square: 0px;
$rounded: 3px;

// == SHADOWS
$shadowTextDark: 1px 1px 1px $black;

//  == BORDERS
$borderThinDark: 1px solid $black;
$borderThinLight: 1px solid $white;
$borderThickDark: 2px solid $black;
$borderThickLight: 2px solid $white;
$test-border1: 1px solid $red;
$test-border2: 1px solid $blue;
$test-border3: 1px solid $green;
