@import 'styles';

.blue {
  color: #00a3ff;
}

.green {
  color: #00c853;
}

.yellow {
  color: #ffd600;
}

.orange {
  color: #ff3d00;
}

.contextContainer {
  max-width: 450px;
  max-height: 300px;
  border-radius: $unit;
  background-color: #f7f7f7;
  border: $test-border1;
}

.contextTitle h2 {
  font-family: $fnt-labels;
  font-weight: $fnt-labels-hv;
  font-size: $fontSizeHuge;
  font-style: italic;
  text-transform: uppercase;
  text-shadow: $shadowTextDark;
  animation: slideTitle 2.5s ease-in-out 1 normal;
}

.contextTagline h6 {
  font-family: $fnt-main;
  font-weight: 400;
  color: $accent;
  text-align-last: center;
  animation: slideTagline 3.5s ease-in-out 1 normal;
}

// Animation
@keyframes slideTitle {
  0% {
    transform: translateX(-100%);
  }
  15% {
    transform: translateX(-5%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideTagline {
  0% {
    transform: translateX(100%);
  }
  10% {
    transform: translateX(8%);
  }
  100% {
    transform: translateX(0);
  }
}
