@import 'variables';
@import 'mixins';

.landingContainer {
  display: grid;
  grid-gap: $grid-gap;
  grid-template: repeat(16, 1fr) / repeat(16, 1fr);
  height: 100vh;
  width: 100vw;
  margin: 0;
  overflow-y: hidden;
}

.landingLanguageSelector {
  grid-column: 1 / 10;
  grid-row: 1 / 2;
}

.landingTitle {
  grid-column: 3 / 14;
  grid-row: 4 / 7;
  z-index: 10;
}

.landingSubTitle {
  grid-column: 16 / -1;
  grid-row: 1 / 8;
}

.socialMedia {
  grid-column: 16 / -1;
  grid-row: 14 / -1;
}

.menu {
  grid-column: 9 / 14;
  grid-row: 9 / 16;
  text-align: center;
}

.shape {
  position: fixed;
  left: -8vw;
  top: 20%;
  height: 80%;
  width: 35%;
  transform: rotate(-15deg);
}

@media only screen and (max-width: 1024px) {
  .shape {
    left: -30vw;
    width: 55%;
  }
}

@media only screen and (max-width: 766px) {
  .menu {
    grid-column: 1 / 16;
    grid-row: 7 / -1;
  }

  .socialMedia {
    grid-column: 16 / -1;
    grid-row: 13 / -1;
  }

  .shape {
    left: -30vw;
    width: 85%;
  }
}
