@import 'variables';
@import 'mixins';
@import 'functions';

$min-font-size: $fntSizeReg;
$max-font-size: $fntSizeLabel;

.cardContainer {
  cursor: pointer;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  border: $borderThinDark;
  border-radius: $rounded;
}

.overlay {
  @include fluid-font($min-vw, $max-vw, $min-font-size, $max-font-size);
  color: white;
  visibility: hidden;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-out;
  text-align: center;
  height: 100%;
  width: 100%;
}

.cardTitle {
  background-color: rgba(0, 0, 0, 0.3);
  color: $text-inverted;
}

.cardContainer.hover {
  .overlay {
    border: $borderThinAccent;
    visibility: visible;
    transform: scaleX(1);
  }
}

// TODO: Darken bgimage
// TODO: Fade in title (opacity)
