@import 'variables';
@import 'functions';
@import 'mixins';

$min-font-size: $fntSizeMin;
$max-font-size: $fntSizeReg;

.listContainer {
  height: 100%;
  width: 100%;
}

.section.listProjectRow {
  cursor: pointer;
  width: 100%;
  min-height: 50px;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  color: $text;
  border-radius: 25px;
  box-shadow: $shadowTextDark;
  margin: 1px 0;
  padding: 0 spacing(triple);
}

.section.listProjectRow:nth-child(odd) {
  background-color: darken($white, 10%);
}
.section.listProjectRow:nth-child(even) {
  background-color: $white;
}

.column.data {
  @include fluid-font($min-vw, $max-vw, $min-font-size, $max-font-size);
}

.column.data.name {
  max-width: 20%;
}
.column.data.year {
  max-width: 5%;
}
.column.data.contributions {
  flex: 1;
}
.column.data.url {
  max-width: 20%;
}

.phone.column.data.name {
  max-width: 100%;
  text-align: center;
}
