@import 'styles';

.landingS {
  max-height: 80%;
  max-width: 100px;
  padding: spacing(base) spacing(base) 0 0;
  display: flex;
  flex-flow: column wrap;
  align-items: stretch;
}

.landingIcon {
  max-width: inherit;
  text-align: center;
  img {
    height: 50px;
  }
}

.tagline {
  max-width: inherit;
  flex: 1;
  align-items: flex-start;

  h2 {
    // font-size: 16px;
    font-size: calc(90% + 2 * (100vw - 600px) / 400);
    font-weight: normal;
    height: 60px;
    margin-top: -40px;
    white-space: nowrap;
    transform: rotate(90deg);
    transform-origin: left bottom;
  }
}

// Light
.light.tagline h2 {
  color: $text;
}
// Dark
.dark.tagline h2 {
  color: $text-inverted;
}
