@import 'variables';
@import 'functions';
@import 'mixins';

$min-font-size: $fntSizeMin;
$max-font-size: $fntSizeLabel;

.modal {
  @include fluid-font($min-vw, $max-vw, $min-font-size, $max-font-size);
  height: 100%;
  width: 100%;
  margin: 0 auto;
  position: relative;
  z-index: inherit;
  background-color: $grey;
  box-shadow: $modalShadow;
  .section {
    width: 100%;
    padding: 0 spacing(double);
  }
}

.modalNav {
  justify-content: flex-end;
  li {
    display: inline-block;
    padding: 0 spacing(double);
    font-size: $fntSizeReg;
    color: darken($grey, 30%);
  }
}

.modalProjectDetails {
  font-weight: 500;
}
