.createMenu {
  display: flex;
  min-height: 150px;
  min-width: 100%;
  padding-top: 80px;
}

.createMenuItem {
  flex: 1;
  display: inline-block;
  min-height: 25px;
  min-width: 300px;
  text-align: center;
  align-items: center;
}

.createMenuItem a {
  cursor: pointer;
}
