@import 'variables';
@import 'mixins';

$min-font-size: $fntSizeMin;
$max-font-size: $fntSizeReg;

nav {
  @include fluid-font($min-vw, $max-vw, $min-font-size, $max-font-size);
}

.container {
  display: flex;
  background: transparent;
  text-align: center;
  width: 100%;
  min-height: $navbar-height;
  padding: 0;
  margin: 0 auto;
  & > .column {
    display: flex;
    align-items: center;
  }
}

.brandContainer {
  max-width: 15%;
  justify-content: center;
  .brand {
    max-height: 60px;
  }
}

.links {
  min-width: 70%;
  justify-content: center;
}

.languageSwitcher {
  max-width: 15%;
  justify-content: center;
}
