@import 'styles';

nav {
  background: transparent;
  font-family: $fnt-main;
}

.container {
  width: 100%;
  max-height: spacing(base) * 3;
  padding: 0;
  margin: 0 auto;
  text-align: center;
  display: flex;
}

mat-slide-toggle,
.navEnd {
  padding: spacing(base) 0 0 spacing(base);
  width: spacing(unit) * 25;
}

app-language-switcher {
  padding: 22px 0 0 0;
  width: spacing(unit) * 25;
}

.brand {
  max-height: 50px;
}

.links {
  text-align: center;
  width: 100%;
  flex: 1;
}

.container .links li {
  cursor: pointer;
  display: inline-block;
  width: spacing(loose);
  list-style-type: none;
  padding: spacing(base) spacing(extra-loose);
}

.container .links li:hover {
  color: $blue;
}

@media only screen and(max-width: 823px) {
  mat-slide-toggle,
  .navEnd {
    height: 52px;
    padding: spacing(unit) 0 0 10px;
  }

  .brand {
    max-width: 25px;
  }

  .container .links {
    text-align: right;
    padding: spacing(tight) spacing(base) 0 0;
  }

  .container .links li {
    font-size: $fontSizeSmall;
    display: inline;
    padding: spacing(tight) spacing(tight);
  }
}
