@import 'variables';
@import 'functions';
@import 'mixins';

$min-font-size: $fntSizeMin;
$max-font-size: $fntSizeReg;

.viewContainer {
  @include fluid-font($min-vw, $max-vw, $min-font-size, $max-font-size);
  background: $red;
  color: $white;
}

.projectCardsGrid {
  min-height: 85vh;
  flex-wrap: wrap;
  padding: spacing(squared);

  .cardItem {
    padding: spacing(unit);
  }
}
