@import 'variables';
@import 'functions';
@import 'mixins';

$min-font-size: $fntSizeMin;
$max-font-size: $fntSizeReg;

.viewContainer {
  @include fluid-font($min-vw, $max-vw, $min-font-size, $max-font-size);
}

.projectViewPicker {
  justify-content: flex-end;
  align-items: center;
  padding: 0 spacing(squared);
}

.projectCardsGrid {
  width: 100%;
  min-height: 85vh;
  padding: spacing(squared);

  .cardItem {
    padding: spacing(unit);
  }

  app-project-grid {
    width: 100%;
    height: 100%;
  }
}
