@import 'styles';

.footerContainer {
  max-height: $footer-height;
  width: 100%;
}

.myInformation {
}

.leftColumn {
  max-width: 25%;
}

.middleColumn {
  max-width: 50%;
  text-align: center;
  justify-content: center;
}

.rightColumn {
  max-width: 25%;
}
